<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- This nuget configuration is used by the build server. nuget.config will be used on local machines. -->
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />    
    <add key="tfsrepo" value="\\tfsxbld00080at.product.atotnet.gov.au\NugetRepo" />
    <add key="TechArch" value="\\tfsxbld00051at.product.atotnet.gov.au\drop\packages"/>
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>